In [1]:
x = "PYTHON"
for i in x:
    print (i)

P
Y
T
H
O
N

In [3]:
x = "sure bro"
for i in x:
    print (i)

s
u
r
e

b
r
o

In [4]:
story = "once"
for char in story:
    print(char)

o
n
c
e

In [6]:
names = ['Alice','Bob','Charlie','David','Eve','Frank' ]
for name in names:
    print (name, len(name))

Alice 5
Bob 3
Charlie 7
David 5
Eve 3
Frank 5

In [9]:
fruits = ['apple','banana','lemon']
for item in fruits:
    print(f'i have {item}')

i have apple
i have banana
i have lemon

In [10]:
for i in range(7):
    print('you got point',i)

you got point 0
you got point 1
you got point 2
you got point 3
you got point 4
you got point 5
you got point 6

In [11]:
for num in range(1,10,3):
    print('level',num)

level 1
level 4
level 7

In [12]:
### reverse loop
for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [13]:
### pattern loop
for i in range(10):
    print(i * 'Na')

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa

In [ ]:
## wap to calculate te sum of all numbers between 1 to 50

In [18]:
y=0
for i in range(51):
    y=y+i
    print(y)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275

In [ ]:
### wap to add all numbers that are divisible by rangig fom 1 to 100

In [22]:
total = 0
for i in range(1,100):
    if i % 3 == 0:
        total += i
print(total)

1683

In [ ]:
### wap to calculate the average(mean) of all numbers from 1 to 100

In [26]:
total = 0
for i in range(1,100):
    total += i
mean = total / 99
print(mean)

50.0