In [1]:
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [2]:
my_set = set{1,2,3,4,5}
print(my_set)

SyntaxError: invalid syntax (528366422.py, line 1)

In [3]:
frnds = {'ramu','shyamu','lallan','kallan'}
print(frnds)

{'ramu', 'lallan', 'shyamu', 'kallan'}

In [4]:
a = set()
print(type(a))

<class 'set'>

In [5]:
my_set = {1,3}
print(my_set)

{1, 3}

In [6]:
my_set.add(2)
print(my_set)

{1, 2, 3}

In [8]:
my_set.update([3,4,5])
print(my_set)

{1, 2, 3, 4, 5}

In [9]:
my_set.update([4,5],{1,6,8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [10]:
my_set = {1,3,4,5,6}
print(my_set)

{1, 3, 4, 5, 6}

In [11]:
my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [12]:
my_set.remove(6)
print(my_set)

{1, 3, 5}

In [13]:
my_set.pop()
print(my_set)

{3, 5}

In [14]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [15]:
 print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
print(A-B)

{1, 2, 3}

In [20]:
B - A

{6, 7, 8}

In [21]:
A.difference(B)

{1, 2, 3}

In [22]:
print(A^B)

{1, 2, 3, 6, 7, 8}

In [23]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [24]:
E1 = {'kettele','lamp','iron','mixer','fridge'}
E2 = {'vaccum','grinder','dyer','television','ac'}

In [25]:
print(E1-E2)

{'lamp', 'kettele', 'iron', 'mixer', 'fridge'}

In [26]:
print(E1|E2)

{'ac', 'lamp', 'dyer', 'iron', 'kettele', 'mixer', 'grinder', 'vaccum', 'fridge', 'television'}

In [27]:
E1.difference(E2)

{'fridge', 'iron', 'kettele', 'lamp', 'mixer'}

In [28]:
E1.symmetric_difference(E2)

{'ac',
 'dyer',
 'fridge',
 'grinder',
 'iron',
 'kettele',
 'lamp',
 'mixer',
 'television',
 'vaccum'}

In [31]:
books = set()
for i in range(5):
    books.add(input('enter a book'))
print(books)

{'hddfdghf', 'fghfgfjf', 'htdhtfjgfhjghk', 'hghfgnfjh', 'fjhjghgkgh'}

In [32]:
#### set nto list
x = {1,2,3,4}
x1 = list(x)
print(x,x1)

{1, 2, 3, 4} [1, 2, 3, 4]

In [33]:
### tupple ito list
xt = tuple(x)
print(x,xt)

{1, 2, 3, 4} (1, 2, 3, 4)

In [34]:
#### list into set[]
dx = [1,2,3,1,2,3,4,5,1,2,4]
ds = set(dx)
print(dx ,ds)

[1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 4] {1, 2, 3, 4, 5}

In [ ]:
info = ['ramesh','suresh','mangal','bharat','malinga']

In [ ]:
info_dict = {
    'name':'Naendraa'
    'subject':'A I'
    'age': 40
    'married': True
    'I D': 18
}

In [35]:
#### accesing elements frm dictionary
my_dict = {'name':'Jak','age':26}

In [36]:
print(my_dict['name'])

Jak

In [38]:
print(my_dict.get('age'))

26

In [39]:
print(my_dict['adress'])

KeyError: 'adress'

In [41]:
print(my_dict.get('adress'))

None

In [42]:
my_dict['adress'] = 'Downtown'

In [43]:
print(my_dict)

{'name': 'Jak', 'age': 26, 'adress': 'Downtown'}

In [44]:
squares = {1:1,2:4,3:9,4:16,5:25}

In [45]:
print(squares.pop(4))

16

In [46]:
print(squares.popitem())

(5, 25)

In [50]:
squares.clear()

In [51]:
del squares