In [1]:
my_string = 'hello'
print(my_string)

hello

In [2]:
my_string = "hello"
print(my_string)

hello

In [1]:
### q1
str1 = "Hello python"
print(str1)

Hello python

In [4]:
###q2
str = input("enter a string: ")
counter = 0
for s in str:
    counter = counter+1
print("Length of the input string is: ,counter")

Length of the input string is: ,counter

In [5]:
###q3
my_str = "python is great"
b = len(my_str)
slice1 = my_str[10:b]
print(slice1)

great

In [3]:
my_string = '''hello'''
print(my_string)

hello

In [ ]:
### q4
i = 0
q4 = "python is everywhere"
new = ""
new = q4.split()
print(new)
for d in range(3):
 str = new[i]+

In [4]:
my_string = '''hello, welcome tot the world of python'''
print(my_string)

hello, welcome tot the world of python

In [5]:
str = 'digipodium'
print('str = ', str)

str =  digipodium

In [6]:
print('str[1]= ',str[1])

str[1]=  i

In [7]:
word = 'stormlight Archive'
len(word)

18

In [10]:
s = 'digipodium'
slice1 = s[4:10]
print(slice1)

podium

In [11]:
x = 'developer'
x[ :-2]

'develop'

In [14]:
y = 'excellent'
y = [4 : ]

SyntaxError: invalid syntax (1900080390.py, line 2)

In [15]:
x = chr(65)
print (x)
x = chr(2365)
print (x)

A
à¤½

In [1]:
## string contatacetation
##string duplication (clonig) using str *

In [2]:
print('-'* 11)
print('hello world')
print('-'* 11)

-----------
hello world
-----------

In [4]:
w ='hello world'
list(w)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [3]:
story.capitalize()

'\nhare and the tortoise. there was once a hare who was friends with a tortoise. ...\nthe dog and the bone. ...\nthe thirsty crow. ...\nlazy john. ...\nthe fox and the grapes. ...\nthe ant and the grasshopper. ...\nthe boy who cried wolf. ...\nthe ugly duckling.'

In [5]:
w[::2]

'hlowrd'

In [4]:
story.strip().capitalize()

'Hare and the tortoise. there was once a hare who was friends with a tortoise. ...\nthe dog and the bone. ...\nthe thirsty crow. ...\nlazy john. ...\nthe fox and the grapes. ...\nthe ant and the grasshopper. ...\nthe boy who cried wolf. ...\nthe ugly duckling.'

In [6]:
story.swapcase()

'\nhARE AND THE tORTOISE. tHERE WAS ONCE A HARE WHO WAS FRIENDS WITH A TORTOISE. ...\ntHE dOG AND THE bONE. ...\ntHE tHIRSTY cROW. ...\nlAZY jOHN. ...\ntHE fOX AND tHE gRAPES. ...\ntHE aNT AND tHE gRASSHOPPER. ...\ntHE bOY wHO cRIED wOLF. ...\ntHE uGLY dUCKLING.'

In [6]:
w[1::2]

'el ol'

In [7]:
w[::-1]

'dlrow olleh'

In [8]:
story.casefold()

'\nhare and the tortoise. there was once a hare who was friends with a tortoise. ...\nthe dog and the bone. ...\nthe thirsty crow. ...\nlazy john. ...\nthe fox and the grapes. ...\nthe ant and the grasshopper. ...\nthe boy who cried wolf. ...\nthe ugly duckling.'

In [9]:
for i in range(1,6):
    print((i * 'l ').rjust(15))

             l
           l l
         l l l
       l l l l
     l l l l l

In [12]:
for i in range(1,6):
    print(('o' * i).rjust(15))

              o
             oo
            ooo
           oooo
          ooooo

In [4]:
for i,v in enumerate(range(1,15,2)):
    if i % 2 == 0:
        print((v * '0').center(41,'X'))
    else:
        print((v * '*').center(41,'X'))

XXXXXXXXXXXXXXXXXXXX0XXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXX***XXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXX00000XXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXX*******XXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXX000000000XXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXX***********XXXXXXXXXXXXXXX
XXXXXXXXXXXXXX0000000000000XXXXXXXXXXXXXX

In [27]:
wordlist = ['Dark','Chochlate','is','good','for','your','health']

In [28]:
' '.join(wordlist)

'Dark Chochlate is good for your health'

In [31]:
story.replace('and','xxxtentacion')

'\nHare xxxtentacion the Tortoise. There was once a hare who was friends with a tortoise. ...\nThe Dog xxxtentacion the Bone. ...\nThe Thirsty Crow. ...\nLazy John. ...\nThe Fox xxxtentacion The Grapes. ...\nThe Ant xxxtentacion The Grasshopper. ...\nThe Boy Who Cried Wolf. ...\nThe Ugly Duckling.'

In [32]:
story.replace('.','!!',3)

'\nHare and the Tortoise!! There was once a hare who was friends with a tortoise!! !!..\nThe Dog and the Bone. ...\nThe Thirsty Crow. ...\nLazy John. ...\nThe Fox and The Grapes. ...\nThe Ant and The Grasshopper. ...\nThe Boy Who Cried Wolf. ...\nThe Ugly Duckling.'

In [33]:
story

'\nHare and the Tortoise. There was once a hare who was friends with a tortoise. ...\nThe Dog and the Bone. ...\nThe Thirsty Crow. ...\nLazy John. ...\nThe Fox and The Grapes. ...\nThe Ant and The Grasshopper. ...\nThe Boy Who Cried Wolf. ...\nThe Ugly Duckling.'

In [2]:
story = """
Hare and the Tortoise. There was once a hare who was friends with a tortoise. ...
The Dog and the Bone. ...
The Thirsty Crow. ...
Lazy John. ...
The Fox and The Grapes. ...
The Ant and The Grasshopper. ...
The Boy Who Cried Wolf. ...
The Ugly Duckling."""
len(story)
story.split()

['Hare',
 'and',
 'the',
 'Tortoise.',
 'There',
 'was',
 'once',
 'a',
 'hare',
 'who',
 'was',
 'friends',
 'with',
 'a',
 'tortoise.',
 '...',
 'The',
 'Dog',
 'and',
 'the',
 'Bone.',
 '...',
 'The',
 'Thirsty',
 'Crow.',
 '...',
 'Lazy',
 'John.',
 '...',
 'The',
 'Fox',
 'and',
 'The',
 'Grapes.',
 '...',
 'The',
 'Ant',
 'and',
 'The',
 'Grasshopper.',
 '...',
 'The',
 'Boy',
 'Who',
 'Cried',
 'Wolf.',
 '...',
 'The',
 'Ugly',
 'Duckling.']

In [22]:
words = story.split()
print(len(words))

50

In [26]:
story.split('.')

['\nHare and the Tortoise',
 ' There was once a hare who was friends with a tortoise',
 ' ',
 '',
 '',
 '\nThe Dog and the Bone',
 ' ',
 '',
 '',
 '\nThe Thirsty Crow',
 ' ',
 '',
 '',
 '\nLazy John',
 ' ',
 '',
 '',
 '\nThe Fox and The Grapes',
 ' ',
 '',
 '',
 '\nThe Ant and The Grasshopper',
 ' ',
 '',
 '',
 '\nThe Boy Who Cried Wolf',
 ' ',
 '',
 '',
 '\nThe Ugly Duckling',
 '']

In [3]:
help split?

Object `split` not found.

In [ ]:
help split

In [13]:
for i in range(1,15,2):
    print((i * 'T').center(30))

              T
             TTT
            TTTTT
           TTTTTTT
          TTTTTTTTT
         TTTTTTTTTTT
        TTTTTTTTTTTTT

In [9]:
msg = input('enter anything')
msg.isalpha()

False

In [10]:
msg = input('enter a number:')
if msg.isnumeric():
    print('valid number')
else:
    print('invalid number')

valid number

In [12]:
msg = input('enter anything:')
msg.isalnum()

True

In [ ]:
### remove all vowels from a string entred by the user

In [16]:
vowels = 'aeiou'
message = 'under this canvas he hides a dream'
for vowel in vowels:
    message = message.replace(vowel,'')
    print(message)

under this cnvs he hides  drem
undr this cnvs h hids  drm
undr ths cnvs h hds  drm
undr ths cnvs h hds  drm
ndr ths cnvs h hds  drm

## count all vowels frm a sting entered by user

In [17]:
vowels = 'aeiouAEIOU'
message = ('under this canvas he hides a dream')
for vowel in vowels:
    print(message.count(vowel),vowel)

4 a
4 e
2 i
0 o
1 u
0 A
0 E
0 I
0 O
0 U

In [ ]:
## for self programs

In [1]:
checkString (str):
flag_l = False
flag_n = False
for i in str :
    if i.isalpha():
        flag_l = True
    if i.isdigit():
        flag_n = True

SyntaxError: invalid syntax (721449519.py, line 1)